@import "~bootstrap/scss/bootstrap";

nav,
nav .logo,
.services,
.nav-btn,
nav .btn-login {
  display: flex;
}

.nav-btn,
nav .btn-login {
  align-items: center;
}

.nav-btn button {
  margin: 0 5px;
}

nav .container {
  display: flex;
  justify-content: space-between;
}

nav h1 {
  font-size: 50px;
}

.carousel {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.services {
  margin-top: 50px;
  justify-content: space-around;
}

.service h4 {
  margin-bottom: 30px;
  text-align: center;
}

.service {
  text-align: justify;
}

.aboutus {
  margin-top: 70px;
}

footer .container .row {
  display: block;
}
